.alarm__input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-right: 8px;

  border-top: 1px solid blue;
  background-color: white;
  color: black;
}

.alarm__input p {
  display: inline;
  padding: 0;
  margin: 0;
  flex: none;
  font-weight: 500;
  font-size: 1rem;
}

.alarm__input .alarm__select {
  flex: none;
  margin: 0px 3px;
  height: 1rem;
}

.alarm__input .alarm__select option {
  font-size: 0.3rem;
}

.alarm__input .alarm__button {
  margin-left: auto;
  margin-right: 5px;
  font-size: 0.7rem;
  padding: 2px 1px;
  vertical-align: baseline;
  color: skyblue;
  border: 1px solid skyblue;
  border-radius: 4px;
  background-color: white;
}

.alarm__list-element {
  display: flex;
  justify-content: space-between;
  padding: 4px 8px;
  border-top: 1px solid blue;

  color: black;
  background-color: white;
}
.alarm__list-element p {
  padding: 0;
  margin: 0;
  display: inline-block;
  font-weight: 500;
}

.alarm__list-element .alarm__list-button {
  margin-left: auto;
  margin-right: 5px;
  font-size: 0.7rem;
  padding: 2px 1px;
  vertical-align: baseline;
  color: orangered;
  border: 1px solid orangered;
  border-radius: 4px;
  background-color: white;
}
