body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 14px;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e5e5e5;
}

#app {
  width: 287px;
  height: 510px;
  border-radius: 1rem;

  text-align: center;
  color: white;
  background-color: #4e75c1;
}
